html
	head
		title='Pluralsight Demo'
		link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
	body
		div.container
			div.jumbotron
				h1 Hello Pluralsight!!!
				p	Click the button below to head over to my podcast
				p
					a.btn.btn-primary(href="http://intechwetrustpodcast.com") Podcast
				p
